.card{
  flex: display;
  gap: 25 px;
  border: solid black;
  text-align: center;
  background-color: aquamarine;
  font-size: 70%;
  margin: 20px;
  width: 60%;
  
  
}
.list{
  
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  

}